@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.wrapper h1{
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  color: rgb(51, 51, 51);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    width: 32%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}

.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.5s;
}

.card:hover img {
    filter: grayscale(0);
}

.card figcaption{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    width: fit-content;
    height: 16%;
    opacity: 0;
}

a{
    all: unset;
}

.card:hover figcaption{
    opacity: 1;
    bottom: 40%;
    transform: translateY(-50%) rotate(360deg);
    transition: 1s;
    cursor:pointer;
}